.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 620px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 420px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.container a {
  color: black;
  text-decoration: none;
  padding: 10px 0;
  justify-self: center;
  width: 190px;
  text-align: center;
  box-shadow: 0 0 10px -7px black;
  border-radius: 10px;
  font-size: 14px;
}

.button {
  display: block;
  margin: 30px auto 100px auto;
  background-color: brown;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 10px -4px black;
  padding: 10px 40px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
